@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url('../../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('../../node_modules/bootstrap-icons/font/bootstrap-icons.css');
@import './components/_reset';
@import './components/_variables';

body {
	font-family: 'Nunito' !important;
	color: #ccc;
	color: #aaa;
	color: #ddd;
	color: #eee;
	color: #bbb;
	color: #222;
	color: #333;
	color: #444;
	color: #555;
	color: #666;
	color: #777;
	color: #888;
	color: #999;
	color: rgb(0, 128, 128);
}

.row {
	padding: 0 !important;
	margin: 0 !important;
}