<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%=htmlWebpackPlugin.options.title%></title>
</head>
<body>

	<app-root class="app mt-5">
		<div class="container mt-5">
			<div class="row justify-content-center align-items-center g-5">
				<div class="col-12 col-lg-5 mt-5 text-center text-lg-start">
					<app-header 
					banner="./banner-cropped.jpg" 
					title="blogChat" 
					fonts="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
						<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, laudantium.</p>
					</app-header>
				</div>
				<div class="col-12 col-lg-6 mt-3 mt-lg-5 text-center text-lg-start">
					<app-card shadow="top-right">
						<h1>Hello World</h1>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum et, animi quos nisi fugiat, molestias deserunt atque repudiandae, tempore eveniet explicabo? Vitae tempore molestiae consectetur odit, beatae perspiciatis est. Amet?
						</p>
					</app-card>
				</div>				
			</div>
		</div>
	</app-root>
	
</body>
</html>
