<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%=htmlWebpackPlugin.options.title%></title>
</head>
<body>


	<div class="container mt-5">
		<div class="row justify-content-center align-items-center g-5 mt-5">
			<div class="col-12 col-lg-5 text-center text-lg-start mt-3 mb-5 mt-md-5">
				<app-header banner="./banner.jpg"></app-header>
			</div>
			<div class="col-12 col-lg-5 mt-3 mt-md-5">
				<app-card>
					<h1>Hello world</h1>
					<p>
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat commodi dicta ullam vel dolore. At id tenetur officia voluptates! Quam!
					</p>
					
				</app-card>
			</div>			
		</div>
	</div>

</body>
</html>